@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata&family=Roboto');

:root {
  --bw-width: 250px;
  --bw-height: 200px;
  --bw-margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #f0f0f0;
  margin: 0px; /* margins are cool */
  font-family: 'Roboto', sans-serif;
}
.crimson-pro {
  font-family: 'Crimson Pro', sans-serif;
}

.literata {
  font-family: 'Literata', sans-serif;
}
.flex {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.user-title {
  font-weight: bold;
  margin: 0;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}

.user-subtitle {
  color: #424242;
  margin: 0;
  font-size: 0.75em;
  background-color: lightblue;
  border-radius: 9999pt; /* cool circle */
  padding: 3pt; /* looks broken otherwise */
}

.user-sub-st {
  color: #424242;
  margin: 0;
  font-size: 0.75em;
  background-color: lightorange;
  border-radius: 9999pt; /* cool circle */
  padding: 3pt; /* looks broken otherwise */
}

.user-pic {
  flex: 0;
  border: 10pt;
  border-color: lightblue;
  border-radius: 9999pt /* cool circle */
}

.bio {
  width: var(--bw-width);
  height: var(--bw-height);
  margin-right: var(--bw-margin-right);
  border: 1px solid #aaaaaa;
  overflow: scroll;
  padding: 15pt;
}

.wiwo {
  /* these sizes are by far too small. remember the average display for a computer is 1366x768 */
  width: var(--bw-width);
  height: var(--bw-height);
  border: 1px solid #aaaaaa;
  overflow: scroll;
  padding: 15pt;
}


.container {
  padding: 0 200px;
}

.user_id {
  color: #787878
}

.navbar-bg {
  background: #4d97ff;
  margin-bottom: 6px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.navi {
  float: left;
}

.navi a {
  display: block;
  padding: 16px;
}

.navi a:hover {
  background: #474747
  opacity: 75%;
}

/*
actual scratch doesn't a color for current
.current {
  background: #474747;
  color: #fdfdfd;
}*/

.pf-banner {
  background: #00a3d7;
  border-radius: 3pt;
  height: 500px;
  width: inherit;
  position: relative;
}

.pf-banner .main-text {
  margin: 0;
  position: absolute;
  top: 72.5%;
  left: 1%;
  background: rgba(255, 255, 255, .5);
  padding: 14px;
  border-radius: 4pt;
  backround: url('https://uploads.scratch.mit.edu/get_image/user/63631688_120x120.png')
}

.info {
  display: flex;
}

.info div {
  flex: 1;
}