@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway&display=swap');

body {
  background-color: #f1f1f1
  /* white is too bright, that's why you use a light gray */
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.montserrat-bold {
  font-family: 'Montserrat', sans-serif;
}
.flex {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.user-title {
  font-weight: bold;
  margin: 0;
  width: 25px;
  /* so the username doesn't break anything when long */
}

.user-subtitle {
  color: #00a3d7;
  margin: 0;
  font-size: 0.75em;
}

.user-pic {
  flex: 0;
  border: 0;
}
