<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scratch 4.0</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>
  <div class="navbar-bg">
    <div class="container">
      <ul class="navbar">
        <li class="navi"><a href="{{ url_for('showWelcomePage') }}" class="current">Home</a></li>
        <li class="navi"><a href="#">Create</a></li>
        <li class="navi"><a href="#">Ideas</a></li>
        <li class="navi"><a href="#">About</a></li>
        <input placeholder="searchbox">
        <button>
          Messages
        </button>
        <button>MyStuff</button>
        <button>UserName</button>
      </ul>
    </div>
  </div>
  <div class="container">
    <h1>Scratch 4.0</h1>
    <p>This project is very much a work in progress</p>
    <hr>
    <p>'Scratch 4.0 team', 'License', 2022 Please note that we're NOT affilated with MIT and this is "fan" made by Scratch users. </p>
    <hr> 
    <p>Contact us <a href="https://scratch.mit.edu/discuss/topic/605694/?page=1"> here</a> for more information </p>
  </div>
</body>
</html>
