<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <div class="navbar-bg">
    <div class="container">
      <ul class="navbar">
        <li class="navi"><a href="{{ url_for('showWelcomePage') }}">Home</a></li>
      </ul>
    </div>
  </div>
  
  <h1>Scratch 4.0</h1>
  <p>This project is very much a work in progress</p>
  <hr>
  <p>'Scratch 4.0 team', 'License', 2022</p>
</body>
</html>