<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ url_for('static', filename='global.js') }}"></script>
  <title>{{ username }}'s profile</title>

  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>
  <script>
    getUserDetails("{{ username }}")
  </script>


  <div class="navbar-bg">
    <div class="container">
      <ul class="navbar">
        <li class="navi"><a href="{{ url_for('showWelcomePage') }}" class="current">Home</a></li>
        <li class="navi"><a href="#">Create</a></li>
        <li class="navi"><a href="#">Ideas</a></li>
        <li class="navi"><a href="#">About</a></li>
        {{ message_count }}
        <input placeholder="searchbox">
        <button>
          {% if message_count > 0 %}
            <i class="bi bi-envelope-exclamation-fill"></i>
          {% else %}
            <i class="bi bi-envelope-fill"></i>
          {% endif %}
        </button>
        <button>My Stuff</button>
        <button>{{ username }}</button>
      </ul>
    </div>
  </div>

  
  <div class="container">
    {% if pfpHtml == True %}
      <div class="pf-banner">
        <div class="main-text">
          <div class="flex">
            <img width="100" height="100" src="{{ pfpLink }}" alt="{{ username }}'s profile picture" class="user-pic" />
            
            <div>
              <h1 class="literata user-title">{{username}}</a> <span class="user_id">#{{ userID }}</span></h1>
              <p>{{ status }} | Joined {{ userJoined }} | </p>
            </div>
          </div>
        </div>
      </div>

      <br />
  
      <div class="info">
        <div class="bio">
          <p>About me</p>
          <p>{{ userBio }}</p>
        </div><br />
        <div class="wiwo">
          <p> What I'm Working On<p>
          <p> {{ userWiwo }}</p>
        </div>
      </div>

    {% for user in followers_users %}
      <div class="user-box">
        <a href="/users/{{ user }}">{{ user }}</a>
      </div>
    {% endfor %}

    
    {% else %}
      <p> Whoops! Our server is Scratch'ing its head!
</p>
    {% endif %}
  </div>
    

    
</script>
</body>
</html>


